//Colors
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;
$black: #000000;
$white: #ffffff;
// Basic Button Style
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 0.6em;
    color: $red;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }

  // BUTTON 4



  .checkout {
    border-color: #db7e9c;
    color: #db7e9c;
    background-image: linear-gradient(45deg, #d977c5 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
    border: 2px solid #d977c5;
    &:hover {
      border-color: #db7e9c;
      background-color: #db7e9c;
      color: #fff
    }
  }

  
  //BUTTON 1
  .first {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    padding: .2em .8em;
    &:hover {
      box-shadow: 0 0 40px 40px $red inset;
    }
  }
  
  //BUTTON 2
  .second {
    border-color: $turquoise;
    color: #fff;
    background: {
      image: linear-gradient(to right, 
        transparentize($yellow, 0.01),
        $red 50%, 
        $red 100%);
      position: 0 0;
      size: 100%;
    }
    transition: background 800ms ease-in-out;
    
    &:hover {
      background-position: 189px;
    }
  }
  
  //BUTTON 3
  .third {
    border-color: $blue;
    color: $white;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    
    &:hover {
      color: $blue;
      box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    }
  }
  
  // BUTTON 4
  .fourth {
    // background: $yellow;
    border-color: $yellow;
    color: $yellow;
    background: {
      image: linear-gradient(45deg,$yellow 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
    transition: background 300ms ease-in-out;
    
    &:hover {
      background-position: 0;
    }
  }
  
  //BUTTON 5
  .fifth {
    border-color: $purple;
    // border: 0;
    border-radius: 0;
    color: $purple;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: $purple;
      z-index: -1;
      transition: width 150ms ease-in-out;
    }
    
    &:hover {
      color: #fff;
      &:after {
        width: 110%;
      }
    }
  }
  
  //BUTTON 6
  .sixth {
    border-radius: 3em;
    border-color: $green;
    color: $green;
    background: {
        image: linear-gradient(to bottom, transparent 50%, $green 50%);
        position: 0% 0%;
        size: 210%;
    }
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
    
    &:hover {
      color: $blue;
      background-position: 0 100%;
    }
  }